/* ---------------------------------------------------------------------------------------- */
/* Shooter CSS */

.headContainer {
  position: relative;
  display: flex;
  width: 100%;
}
.shooterWrapper {
  display: grid;
  /* grid-template-columns: repeat(5, auto); */
  gap: 3.5rem;
  justify-content: center;
}

.displayNumbers {
  box-shadow: 0 1px 6px #ccc;
  padding: 10px;
  margin-right: 30px;
}

.displayGridNumbers {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}

.numbersDiv {
  box-shadow: 0 1px 6px #ccc;
  background-color: teal;
  padding: 30px;
  font-size: 50px;
  color: #fff;
  height: 120px;
  /* border-radius: ; */
  margin-bottom: 20px;
  text-align: center;
}

.showDice {
  box-shadow: 0 1px 6px #ccc;
  padding: 5px;
  position: relative;
  display: flex;
  margin-top: 80px;
  justify-content: flex-start;
}

.rollDiceButton {
  font-size: 50px;
  padding: 10px;
  margin: 10px;
  background-color: teal;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
}

.displayImg {
  object-fit: contain;
  height: 95px;
}

.imgDiv {
  box-shadow: 0 1px 12px #ccc;
  // border: 1px solid;
  padding: 10px;
  height: 120px;
  font-size: 50px;
  margin-bottom: 20px;
  background-color: #fff;
}
.displayMultiPlayer {
  box-shadow: 0 1px 6px #ccc;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  width: auto;
  flex: 1;
  background-color: lightgoldenrodyellow;
  padding: 10px;
  margin-right: 30px;
}

.readyToShoot {
  background-color: yellow;
}

.currentPlayerReadyToShoot {
  cursor: pointer;
}

.lockedBox {
  background-color: green;
}

.otherPlayerStage {
  cursor: pointer;
}

.playerLost {
  background-color: red;
  cursor: default;
}

.timeToPlay {
  background-color: teal;
}

.disabled {
  background-color: grey;
  padding: 10px;
  text-align: center;
}

.out {
  font-size: 2rem;
  font-weight: bolder;
  padding-top: 30px;
}

.notTimeToPlay {
  background-color: grey;
  cursor: default;
}
