.displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------------------------------------------------------------------------- */
/* Shooter CSS */

.playerCountContainer {
  @extend .displayFlexCenter;
  height: 100vh;
}

.playerCount {
  @extend .rollDiceButton;
  background-color: teal;
  box-shadow: 0 1px 6px #ccc;
  margin: 10px;
}

.headContainer {
  background-color: lightgoldenrodyellow;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 0fr);
  column-gap: 4px;
  width: 100%;
}

.commonHeight {
  height: 75px;
}

.commonMaxWidth {
  max-width: 100px;
}

.input {
  padding: 12px;
  margin: 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 4px #ccc;
  border-radius: 6px;
  font-size: 18px;
  width: 93%;
}

/* ---------------------------------------------------------------------------------------- */
/** dice column */
.displayNumbers {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  box-shadow: 0 1px 6px #ccc;
  padding: 10px;
}

.roolDiceDiv {
  @extend .commonHeight;
  @extend .commonMaxWidth;
  box-shadow: 0 1px 6px #ccc;
  margin-bottom: 20px;
  cursor: pointer;
}

.numbersDiv {
  @extend .commonHeight;
  @extend .commonMaxWidth;
  @extend .displayFlexCenter;
  box-shadow: 0 1px 6px #ccc;
  background-color: teal;
  padding: 30px;
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

.showDice {
  box-shadow: 0 1px 6px #ccc;
  padding: 5px;
  position: relative;
  margin-top: 80px;
  @extend .displayFlexCenter;
}

.diceDiv {
  @extend .commonHeight;
  @extend .displayFlexCenter;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 0 1px 6px black;
  background-color: #fff;
}

.rollDiceButton {
  font-size: 30px;
  font-weight: 700;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 6px;
}

.displayPlayer {
  padding: 10px;
}

.displayReadyToPlay {
  background-color: teal;
  padding: 10px;
}

/* ---------------------------------------------------------------------------------------- */
/** First players column */
.displayFirstPlayer {
  @extend .displayMultiPlayer;
  box-shadow: 0 1px 6px #ccc;
  width: 80px;
  background-color: orange;
  // margin: auto 50px;
  // padding: 10px;
}

/* ---------------------------------------------------------------------------------------- */
/** opponent players column */

.displayMultiPlayer {
  border-radius: 6px;
  // width: auto;
  // padding: 10px;
}

.shooterWrapper {
  display: grid;
  justify-content: left;
}

.displayDiceImg {
  @extend .commonHeight;
  object-fit: cover;
}

.displayImg {
  object-fit: contain;
  height: 60px;
}

.imgDiv {
  @extend .commonHeight;
  @extend .displayFlexCenter;
  box-shadow: 0 1px 12px #ccc;
  padding: 10px;
  font-size: 50px;
  margin-bottom: 20px;
  background-color: #fff;
}

.readyToShoot {
  background-color: yellow;
}

.currentPlayerReadyToShoot {
  cursor: pointer;
}

.lockedBox {
  background-color: green;
}

.otherPlayerStage {
  cursor: pointer;
}

.playerLost {
  background-color: red;
  cursor: default;
}

.timeToPlay {
  background-color: teal;
}

.disabled {
  @extend .displayFlexCenter;
  background-color: grey;
  padding: 10px;
  text-align: center;
  cursor: default;
}

.out {
  pointer-events: none;
  font-size: 2rem;
  font-weight: bolder;
}

.notTimeToPlay {
  background-color: grey;
  cursor: default;
}
