@import "../../../global/styles/global.module.scss";

.experience__container {
  @include container;
  // @include display_flex_center;
  // flex-direction: column;
}

.companyName {
  color: $color-primary;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  text-align: center;
}
.companyLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(-18px);
}
.companyName h2 {
  margin: 0;
}

.timeLineBox_container {
  width: 100%;
  border-left: 2px solid $color-primary;
  padding: 0 20px 0 30px;
}
