@import "../../../global/styles/global.module.scss";

.skills__container {
  @include container;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skills__details {
  display: flex;
  gap: 1rem;
}

.skills__details_icon {
  margin-top: 6px;
  color: $color-primary;
}

.text_light {
  color: $color-light;
}

@include breakpoint-down("md") {
  .skills__container {
    grid-template-columns: 1fr;

    & > div {
      width: 100%;
      margin: 0 auto;
    }
  }
}

@include breakpoint-down("sm") {
  .skills__container {
    gap: 1.5rem;

    & > div {
      width: 100%;
    }
  }
}
