@import "../../../global/styles/global.module.scss";

// .navbar {
//   position: relative;

//   .navbar_menu {
//     color: $color-white;
//   }
//   .navbar_links {
//     width: 100%;
//     height: 10rem;

//     @include display_flex_center;

//     ul li {
//       display: inline-block;
//       list-style: none;
//     }

//     a {
//       text-decoration: none;
//       color: $color-white;
//     }
//     .navbar_links_li {
//       .navbar_links_sub {
//         font-size: 2.4rem;
//         color: $color-white;
//         padding-left: 1.5rem;
//         padding-right: 1.5rem;

//         &:hover {
//           transition: all 0.5s ease-out;
//           color: $color-text-hover;
//         }
//       }

//       &:hover {
//         transition: all 0.5s ease-in-out;
//         scale: 1.2;
//       }
//     }
//     &:hover .navbar_links_li:not(:hover) {
//       transition: all 0.5s ease-in-out;
//       scale: 0.9;
//     }
//   }
// }

.navbar {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  // bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 3rem;
  backdrop-filter: blur(20px);
}

nav a {
  background: transparent;
  border-radius: 50%;
  padding: 0.9rem;
  display: flex;
  color: $color-light;
  font-size: 1.1rem;

  &:hover {
    background: rgba(0, 0, 0, 0.3);
  }
}

nav a.active {
  background: $color-primary;
  color: $color-bg;
}

@include breakpoint-down("md") {
  .navbar {
    flex-direction: row;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
  }
}

@include breakpoint-down("sm") {
  nav a {
    padding: 0.35rem;
  }
}
